html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
  background-color:darkolivegreen;
}

.title{
  text-align: center;
  background-color: black;
  padding: 20px;
  font-size: 25px;
}

.cart{
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#playerTwo, #playerOne{
  height: 250px;
}
